.lvl0 h1,.lvl0 h2 {
  color:      #000000 !important;
  background: #96C4FF !important;
}
.lvl1 h1,.lvl1 h2 {
  color:      #000000 !important;
  background: #C4FF96 !important;
}
.lvl2 h1,.lvl2 h2 {
  color:      #000000 !important;
  background: #FFCF76 !important;
}

.brown h1,.brown h2 {
  color:      #000000 !important;
  background: #e9b96e !important;
}
.gray h1,.gray h2 {
  color:      #000000 !important;
  background: #CCCCCC !important;
}
.red h1,.red h2 {
  color:      #000000 !important;
  background: #FF806B !important;
}
.blue h1,.blue h2 {
  color:      #000000 !important;
  background: #96C4FF !important;
}
.green h1,.green h2 {
  color:      #000000 !important;
  background: #C4FF96 !important;
}
.orange h1,.orange h2 {
  color:      #000000 !important;
  background: #FFCF76 !important;
}
.cyan h1,.cyan h2 {
  color:      #000000 !important;
  background: #96CEB4 !important;
}
.violet h1,.violet h2 {
  color:      #000000 !important;
  background: #CC96FF !important;
}
.yellow h1,.yellow h2 {
  color:      #000000 !important;
  background: #dbd408 !important;
}
